.content {
  width: 432px;
  background: #F8F8F8;
  box-shadow: 0 1px 24px rgba(61, 61, 61, 0.18);
  border-radius: 20px;
  padding: 16px;
  margin: 16px auto 0 auto;
  .title-wrapper {
    border-bottom: 1px solid rgba(25, 72, 102, 0.5);
    padding-bottom: 8px;
    .title {
      font-family: 'Assistant', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 24px;
      text-transform: capitalize;
      text-align: center;
      color: #194866;
      margin: 0 0 8px 0;
    }

    .sub-title {
      font-family: 'Assistant', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #194866;
      margin: 0;
    }
  }
  form {
    position: relative;
    padding-top: 8px;
    .form-wrapper {
      padding: 8px 0;
      display: flex;
      .invalid {
        border-color: red;
      }
      input, select {
        outline: none;
        border: 0.5px solid rgba(25, 72, 102, 0.8);
        box-sizing: border-box;
        border-radius: 10px;
        height: 48px;
        background: #F8F8F8;
        width: 100%;
        padding: 12px 16px;
        font-family: 'Assistant', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
      .form-item {
        &:first-child {
          margin-right: 8px;
        }
        &:last-child {
          margin-left: 8px;
        }
      }
      .code {
        width: 64px;
        height: 48px;
        border: 0.5px solid rgba(25, 72, 102, 0.8);
        box-sizing: border-box;
        border-radius: 10px 0 0 10px;
        font-family: 'Assistant', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 48px;
        text-align: center;
        color: #194866;
        vertical-align: center;
      }
      .with-code {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    .submit-button {
      width: 70px;
      height: 48px;
      background: #34C88A;
      border-radius: 10px;
      font-family: 'Assistant', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      outline: none;
      border: none;
      margin-top: 80px;
      float: right;
    }
  }
}
