<div class="content" *ngIf="signForm">
  <div class="title-wrapper">
    <h2 class="title">{{translate.title}}</h2>
    <p class="sub-title">{{translate.subTitle}}</p>
  </div>
  <form [formGroup]="signForm" (submit)="onSubmit($event)">
    <div class="form-wrapper">
      <input formControlName="name"
             [ngClass]="{'invalid' : f.name.touched && f.name.invalid}" class="form-item" type="text" placeholder="{{translate.forms.name}}">
      <input formControlName="userName"
             [ngClass]="{'invalid' : f.userName.touched && f.userName.invalid}" class="form-item" type="text" placeholder="{{translate.forms.lastName}}">
    </div>
    <div class="form-wrapper">
      <input formControlName="email"
             [ngClass]="{'invalid' : f.email.touched && f.email.invalid}" type="email" placeholder="{{translate.forms.email}}">
    </div>
    <div class="form-wrapper">
      <span class="code">
        +374
      </span>
      <input formControlName="phone"
             [ngClass]="{'invalid' : f.phone.touched && f.phone.invalid}" class="with-code" type="tel" placeholder="{{translate.forms.phone}}">
    </div>
    <div class="form-wrapper">
      <select formControlName="region" [ngClass]="{'invalid' : f.region.touched && f.region.invalid}" name="region">
        <option value="region1">Region1</option>
        <option value="region1">Region1</option>
        <option value="region1">Region1</option>
        <option value="region1">Region1</option>
      </select>
    </div>
    <div class="form-wrapper">
      <select formControlName="city" [ngClass]="{'invalid' : f.city.touched && f.city.invalid}" name="city">
        <option value="city1">city1</option>
        <option value="city1">city1</option>
        <option value="city1">city1</option>
        <option value="city1">city1</option>
      </select>
    </div>
    <div class="form-wrapper">
      <input formControlName="password"
             [ngClass]="{'invalid' : f.password.touched && f.password.invalid}" type="password" placeholder="{{translate.forms.password}}">
    </div>
    <div class="form-wrapper">
      <input formControlName="confirmPassword"
             [ngClass]="{'invalid' : f.confirmPassword.touched && f.confirmPassword.invalid}" type="password" placeholder="{{translate.forms.confirmPassword}}">
    </div>
    <button class="submit-button" type="submit">ok</button>
    <div class="both"></div>
  </form>
</div>
