<header>
  <div class="log-wrapper">
    <img class="logo" src="../../../assets/img/logo.png" alt="logo">
    <img class="logo-title" src="../../../assets/img/logo-title.png" alt="Next Generation Armenia">
  </div>
  <ul class="lng">
    <li [ngClass]="{'active': checkLng === 'en'}" (click)="setLng('en')">Eng</li>
    <li [ngClass]="{'active': checkLng === 'hy'}" (click)="setLng('hy')">Հայ</li>
    <li [ngClass]="{'active': checkLng === 'ru'}" (click)="setLng('ru')">Рус</li>
  </ul>
  <nav>
    <ul class="navigation-wrapper">
      <li class="active">{{translate.page1}}</li>
      <li>{{translate.page2}}</li>
      <li>{{translate.page3}}</li>
      <li>{{translate.page4}}</li>
      <li>{{translate.page5}}</li>
    </ul>
  </nav>
  <ul class="sign-out">
    <li class="sign-out-log"><img src="../../../assets/img/coolicon.png" alt="sign-out-img"></li>
    <li class="sign-out-title">{{translate.signIn}}</li>
  </ul>
</header>
