header {
  position: relative;
  background: #34C88A;
  height: 120px;
  .log-wrapper {
    width: 100px;
    margin: 0 auto;
    padding: 10px 0 0 0;
    .logo {
      text-align: center;
      display: block;
      margin: 0 auto 4px auto;
    }
  }
  .lng {
    position: absolute;
    right: 16px;
    top: 16px;
    list-style: none;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    li {
      display: inline-block;
      padding: 0 3px;
      cursor: pointer;
      &.active {
        color: #fff;
      }
    }
  }
  .navigation-wrapper {
    display: flex;
    width: 730px;
    list-style: none;
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.85);
    margin: 0 auto;
    padding: 8px 0 0 0;
    li {
      width: 100%;
      cursor: pointer;
      &.active {
        border-bottom: 3px #ffffff solid;
        color: #F8F8F8;
      }
    }
  }
  .sign-out {
    position: absolute;
    display: flex;
    height: 24px;
    right: 120px;
    top: 86px;
    font-family: "Assistant", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #F8F8F8;
    cursor: pointer;
    list-style: none;
    width: 84px;
    justify-content: center;
    align-items: center;
    .sign-out-log {
      height: 17px;
    }
    li {
      width: 100%;
    }
  }
}
